@tailwind base;
@tailwind components;
@tailwind utilities;

.f-r-t {
    font-family: "Roboto", sans-serif;
}

* {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.checkbox:checked {
    border: none;
}

.checkbox:checked + .check-icon {
    display: flex;
}

.checkbox1:checked {
    border: none;
}

.checkbox1:checked + .check-icon1 {
    display: flex;
}

input[type="radio"] + label span {
    transition: background 0.2s, transform 0.2s;
}

input[type="radio"] + label span:hover,
input[type="radio"] + label:hover span {
    transform: scale(1.2);
}

input[type="radio"]:checked + label span {
    background-color: #3490dc;
    box-shadow: 0px 0px 0px 2px white inset;
}

input[type="radio"]:checked + label {
    color: #3490dc;
}
